server {
        listen *:80 default_server;
        listen [::]:80 default_server;

        root /var/www/html;

        index index.html index.htm;

        server_name _;
        access_log /var/www/reverse-proxy/default/access.log;
        error_log  /var/www/reverse-proxy/default/error.log;

        location / {
                try_files $uri $uri/ =404;
        }
}
