server {
        listen 80;
        listen [::]:80;

        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
        
        access_log /var/www/reverse-proxy/littlebigdemo2.bicko.tech/access.log;
        error_log  /var/www/reverse-proxy/littlebigdemo2.bicko.tech/error.log;

        server_name littlebigdemo2.bicko.tech www.littlebigdemo2.bicko.tech;
        location / {
                proxy_pass http://localhost:8103;
                proxy_set_header Accept-Encoding "";
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
        }
}
